* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif; 
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1c1c1e, #2c2c2e); 
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.app {
    background: #2c2c2e;
    width: 85%;
    max-width: 50rem;
    margin: 100px auto;
    border-radius: 16px;
    padding: 60px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease-in-out;
}

h1 {
    font-size: 36px;
    color: #f5f5f5;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: -0.5px;
}

h2 {
    font-size: 24px;
    color: #e0e0e0; 
    padding-top: 2%;
    margin-bottom: 25px;
    text-align: center;
}

.btn {
    width: 100%;
    font-size: 16px;
    padding: 14px 20px;
    font-weight: 500;
    background-color: #3b3b3b; 
    color: #f5f5f5; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.btn.selected {
    background-color: #484848; 
}
.btn:hover {
    background-color: #484848; 
    transform: scale(1.02);
}

#next_button {
    display: block;
    margin: 50px auto 0;
    padding: 14px 60px;
    background-color: #2175cf;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#next_button:hover {
    background-color: #07448e; 
    transform: scale(1.03);
}

#results{
    display: none;
}

.progress-dial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative; 
}

.progress-ring__circle, .progress-ring__background {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-180deg); 
    transform-origin: % 100%; 
}

.progress-ring__background {
    stroke-dasharray: 2000;
}

.progress-ring__circle {
    stroke-dasharray: 188.5; 
    stroke-dashoffset: 188.5; 
}
bottom;
    transform: rotate(-90deg); 
    transition: transform 0.35s;
    left: 50%;
    top: 10px; 
}

@media (max-width: 768px) {
    .app {
        padding: 30px;
        margin: 70px auto 0;
    }

    .btn {
        padding: 12px 16px;
    }

    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 20px;
    }
}
